
body{
  margin-top: 0px;
}
.outer-container {
  background-color: rgb(145 122 122);
  min-height: 750px;
}
.container1 {
  background-color: white;

  padding: 1px 20px;
  margin: 40px 300px;
  min-height: 700px;
 
}

.inner-container {
  color: white;
  background-color: white;
  border: solid #dee2e6;
  border-radius: 10px;
  padding: 46px;
  margin: 193px;
  margin-top: 20px;
}
.container2 {
  color: white;
  background-color: #f9f9f9;

  padding-left: 19px;
  padding-right: 23px;
  padding-bottom: 27px;
  margin: 47px;
  margin-top: 9px;
}

input {
  width: 100%;
  padding: 6px 6px;
  margin: 8px 0;
  border-radius: 5px;
}
input[type="text"]:hover {
  box-sizing: border-box;
  border: none;
  border-bottom: 2px solid red;
}

.buttons {
  margin-left: 210px;
}
.insert {
  display: flex;
  flex-direction: row;
}

.insert button{
  margin-bottom: 25px;
}

.copy {
  margin: 20px;
}

.text {
  margin: 20px;
}

.date {
  margin: 20px;
}

h3 {
  display: inline-block;
  color: black;
  margin-right: 350px;
}

.card {
  border: none;
  background-color: rgb(226,226,226);
  margin-bottom: 20px;
}

/* .titleanddescription{
  margin-bottom: 20px;
} */

.preview{
  margin-top: 200px;
}

.fieldoutline input{
  border: none;
  margin-bottom: 0px;
}

.fieldoutline input[type="text"]:hover {
 
  border: none;

}

